In [86]:
import pandas as pd

df = pd.read_csv('https://query.data.world/s/aluy6k2yrywsry7ootraags7dcjvhl')

df.head()

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388093,103.905418,OTHERS
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380018,103.772667,OTHERS

In [87]:
all_lines = {}

# get all COLORS and sort them in 'lines' object
for color in df['COLOR']:
    if not color == 'OTHERS':
        all_lines[color] = df.loc[df['COLOR'] == color]
# all_lines['RED'] = df.loc[df['COLOR'] == 'RED']

In [88]:
for line in all_lines.items():
    color = line[0]
    
    # get line code
    line_code = line[1]['STN_NO'].iloc[0][:2]
    
    # remove line code (EW, NS) from STN_NO
    all_lines[color]['STN_NO'] = line[1]['STN_NO'].map(lambda stn: int(stn.split(line_code)[1]))
    
    # sorting
    all_lines[color] = all_lines[color].sort_values('STN_NO')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1]:
# getting arrays of all
for line in all_lines.items():
    print(line[0])
    
    for index, row in line[1].iterrows():
        print(f"[\'{row['Longitude']}\', \'{row['Latitude']}\'],", end='')
  
    print('\n\n')

NameError: name 'all_lines' is not defined